div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}
.spice-datatable-buttons{
    text-align: right !important;
}

/* pagination buttons */
.pagination{
--bs-pagination-border-color:none !important;
font-size: 1.5em !important;
font-weight: bolder !important;
--bs-pagination-disabled-bg: none !important;
/* --bs-pagination-disabled-color: !important; */
}

/* pagination info */
.dataTables_info{
    display:inline-block;
}

.dataTables_paginate{
    display: inline-block;
}
